<div [ngClass]="{'playing-view-container': true, 'isShowPlaying': isShowPlaying}">
  <div class="track-info">
    <img src="https://imgs.search.brave.com/Z86PhcR1tfpFdbj3gMCwyHPeLNfII5aRns16Z-UISMo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9sYXN0/Zm0uZnJlZXRscy5m/YXN0bHkubmV0L2kv/dS81MDB4NTAwLzY2/ZGRkZjVhYzliNWY3/ZWRkOGI4MmFiZTk1/Yjc5ZjIzLmpwZw" alt="Album Cover" />
    <div class="track-text">
      <p class="track-title">Rolalo Y Enciende</p>
      <p class="track-artist">Adán Cruz</p>
    </div>
  </div>
</div>
